/**
* Project : lynx-countdown
* File : lynxCountdown.theme.custom
* Author : Your Name <YourMail@example.com>
*/

.lynx-countdown {
    /* The countdown */
}
.lynx-countdown > .lynx-section {
    /* coutndown blocks */
}

.lynx-countdown > .lynx-section > div {
    /* countdown block inner div */
}

.lynx-countdown > .lynx-section .lynx-amount,
.lynx-countdown > .lynx-section .lynx-word {
    /* amounts and words */
}

.lynx-countdown > .lynx-section .lynx-amount {
    /* amounts */
}

.lynx-countdown > .lynx-section .lynx-word {
    /* words */
}
